<div class="modal fade" id="updateModal"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" class="row">
          <div class="border p-3">
              @*<div asp-validation-summary="All"></div>*@
              <div class="form-floating py-2 col-12">
                  <input id="idEdit" class="form-control border-0 shadow" disabled/>
                  <label class="ms-2" >Id</label>
              </div>

              <div class="form-floating py-2 col-12">
                  <input id="nameEdit" class="form-control border-0 shadow" />
                  <label  class="ms-2" >Name</label>
              </div>

              <div class="form-floating py-2 col-12">
                  <input id="displayOrderEdit" class="form-control border-0 shadow" />
                  <label class="ms-2" >Display Order</label>
              </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="btnUpdateData" type="button" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>